test1:
    source: /Volumes/Vault
    snapdir: /Volumes/Mirror/_Vault/Snapshots
    backupdir: /Volumes/Mirror/_Vault/Weekly
    hourly: 12
    daily: 7
    exclude:
        - .DS_Store
        
test2:
    source: /Users/mike/Documents/manpages
    snapdir: /Users/mike/Desktop/manpage_snaps
    backupdir: /Users/mike/Desktop/manpage_backups
    hourly: 8
    daily: 4
    exclude:
        - .DS_Store
        - .*

        
